*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: rgb(39, 42, 51); 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    padding: 40px 40px;
}
.container .header{
    text-align: center;
}
.container .header img{
    border-radius: 16px;
}
.container .header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 0px 0px 0px;
    text-transform: uppercase;
    color: darkslategray;
}


/* estilos da calculadora*/

.calKeys{
    display: grid;
}

/* créditos */
footer{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
}
footer p{
    text-align: center;
    color: #fff;
}
footer p a {
    color: cornflowerblue;
}
footer p a:hover{
    color: rgb(113, 134, 160);
}

/* barra de rolagem */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(32, 35, 44);       /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(165, 209, 203);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(32, 35, 44);   /* creates padding around scroll thumb */
  }